body{
  background-color:#343A40;
 
}

.topbar
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

 .topbar > .logo
{
  padding-right: 20px;
  border-radius: 50%;
}

.topbar > .text > h1
{
  color: red;
  margin: 0;
} 

p{
  color: white;
}

h1{
  color:white;
}

h2{
  color:white;
}

@media only screen and (min-width: 990px) {
  .screen
  {
    height:200px;
    width:900px;
    background-color: #343A40;
  }
}



.topbar > .text > h2
{
  color: white;
  margin: 0;
} 


.horizontal-card
{
  padding: 20px;
}


